:root {
    --color-primary: #84A98C;
    --color-secondary: hsl(199, 50%, 10%);
    --color-tertiary: hsl(259, 80%, 20%);
    --color-accent: hsl(139, 80%, 20%);
}
.dark-mode {
    --color-primary: #181C14;
    --color-secondary: #3C3D37;
    --color-tertiary: #697565;
    --color-accent: #ECDFCC;
    background-color: var(--color-primary);
    color: var(--color-accent);
}

#name, #name.dark-mode {
    color: var(--color-accent);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.navbar.dark-mode {
    background-color: var(--color-secondary);
}

a.nav-link.active.dark-mode {
    text-decoration: none;
}

.nav-link.dark-mode, .navbar-brand.dark-mode {
    background-color: var(--color-secondary) !important;
    color: var(--color-accent) !important;
}

.nav-link.dark-mode.active {
    font-weight: bold;
    text-decoration: underline;
}

.btn-outline-dark.dark-mode {
    border-color: var(--color-accent);
    color: var(--color-accent);
}

.btn-outline-dark.dark-mode:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

.card.dark-mode {
    background-color: var(--color-secondary);
    color: var(--color-accent);
}

.card-header.dark-mode {
    background-color: var(--color-secondary);
    color: var(--color-accent);
}

.accent.dark-mode {
    background-color: var(--color-secondary);
    color: var(--color-accent);
}

h1.dark-mode {
    color: var(--color-accent);
}

/* Project Card Specific */
.project-card-left.dark-mode, .project-card-right.dark-mode {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
}


@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.accent, .card-title {
    color: var(--color-accent);
}

.glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        /* Bottom and right depth effect */
        inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
        /* Top and left depth effect */
        inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
        /* Shadow effect */
        3px 2px 10px rgba(0, 0, 0, 0.25),
        /* Short subsurface effect */
        inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
        /* Long subsurface effect */
        inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);
}

/* Card Styles */
.card:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: black;
}

a.dark-mode {
    text-decoration: none;
}

.container-small, .container-large {
    max-width: 100%;
}

.project-card-left {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.intro {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.project-card-right {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.progress-circle {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
  
  .background-circle {
    fill: none;
    stroke: #ddd; /* Light gray background */
  }
  
  .foreground-circle {
    fill: none;
    stroke: #4CAF50; /* Green for advanced */
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .proficiency-tag {
    display: inline-block;
    padding: 0.2em 0.6em; /* Adjust padding for size */
    font-size: 0.75rem; /* Smaller font size */
    font-weight: bold; /* Make the text bold */
    color: #fff; /* Text color (white) */
    background-color: #2f6630; /* Background color (blue) */
    border-radius: 12px; /* Rounded corners for a tag-like appearance */
    text-align: center; /* Center text inside the tag */
    white-space: nowrap; /* Prevent text wrapping */
    margin-right: 0.5em; /* Optional spacing between tags */
  }